/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body .focusframe {
  :focus {
    outline: none !important;
  }
}

body .awssld {
  --slider-height-percentage: 50%;
  --slider-transition-duration: 700ms;
  --organic-arrow-thickness: 7px;
  --organic-arrow-border-radius: 30px;
  --organic-arrow-height: 50px;
  --organic-arrow-color: #ff9800;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #e68600;
  --control-bullet-active-color: #ff9800;
  --loader-bar-color: transparent;
  --loader-bar-height: 1px;
}
